@media (max-width: 1600px) {

  /* header */
  .header__container {
    flex-wrap: wrap;
  }

  .header__logo {
    margin-right: auto;
    margin-bottom: 25px;
  }

  .header__nav {
    order: 1;
    width: 100%;
  }

  .header__list {
    justify-content: space-between;
    gap: 0;
  }

  /* gallery */
  .gallery__wrapper {
    flex-direction: column;
    gap: 30px;
  }

  .gallery__right {
    min-width: 100%;
  }
}

@media (max-width: 1200px) {

  /* glob */
  .container {
    padding: 0 50px;
  }

  /* header */
  .header {
    padding: 32px 0 22px 0;
  }

  .header__logo {
    margin-bottom: 18px;
  }

  .header__logo-img {
    width: 186px;
  }

  .header__search {
    align-self: flex-start;
    padding-top: 7px;
  }

  /* main */
  .main__section {
    padding-top: 100px;
    padding-bottom: 102px;
    background-image: url("../img/main-background-1024.webp");
  }

  .main__content {
    margin-bottom: 134px;
    max-width: 660px;
  }

  /* gallery */
  .gallery {
    margin-bottom: 79px;
    padding: 79px 0 73px 0;
    background-image: url("../img/gallery-background-1024.webp");
  }

  .gallery__title {
    margin-bottom: 23px;
  }

  /* catalog */
  .catalog__item {
    flex-direction: column;
  }

  .catalog__picture {
    margin-right: 0;
    margin-bottom: 26px;
  }

  .catalog__name {
    margin-bottom: 11px;
  }

  /* events */
  .events__title {
    margin-bottom: 15px;
  }

  .events__list {
    gap: 27px;
  }

  .events__item {
    width: calc((100% / 3) - (9px * 2));
    min-height: 683px;
  }

  .events__content {
    padding: 14px 32px 53px 35px;
  }

  .events__time {
    align-items: flex-end;
    margin-bottom: 0;
  }

  .events__subtitle {
    margin-bottom: 7px;
  }

  /* projects */
  .projects {
    margin-bottom: 41px;
  }

  .projects__descr {
    margin-bottom: 20px;
  }

  .projects__list {
    gap: 27px;
  }

  /* contacts */
  .contacts__container {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;
  }

  .contacts__title {
    margin-bottom: 10px;
  }

  .contacts__left {
    padding-bottom: 0;
  }

  .contacts__address {
    font-size: 14px;
    line-height: normal;
  }

  .contacts__center {
    width: 100%;
  }

  .contacts__form {
    flex-wrap: wrap;
    flex-grow: 1;
  }

  .form__input {
    flex-grow: 1;
    width: 100%;
  }

  .form__btn {
    flex-grow: 0;
    padding: 11px 39px;
    max-width: 341px;
    max-height: 50px;
  }

  .contacts__subtitle {
    margin-bottom: 7px;
    line-height: 32px;
  }

  .contacts__center {
    padding-top: 0;
  }

  .contacts__right {
    padding-bottom: 40px;
  }

  /* footer */
  .footer {
    padding: 38px 0;
  }

  .footer__logo {
    padding-top: 10px;
  }

  .footer__link svg {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 992px) {

  /* header */
  .header {
    padding: 32px 0 21px 0;
  }

  /* main */
  .main__section {
    padding-top: 87px;
    padding-bottom: 88px;
    background-image: url("../img/main-background-768.webp");
  }

  .main__content {
    margin-bottom: 132px;
    max-width: 563px;
  }

  /* events */
  .events__list {
    flex-direction: column;
  }

  .events__item {
    min-width: 100%;
  }

  .events__content {
    max-width: 100%;
  }

  /* gallery */
  .gallery {
    padding-bottom: 84px;
    background-image: url("../img/gallery-background-768.webp");
  }

  .catalog__name {
    margin-bottom: 7px;
  }

  .catalog__time {
    margin-bottom: 10px;
  }

  /* events */
  .events__list {
    gap: 30px;
  }

  .events__item {
    min-height: 529px;
  }

  .events__subtitle {
    margin-bottom: 13px;
  }

  /* projects */
  .projects {
    margin-bottom: 44px;
  }

  .projects__title {
    margin-bottom: 13px;
  }

  .projects__descr {
    margin-bottom: 29px;
  }

  .projects__subtitle {
    margin-bottom: 30px;
  }

  .projects__list {
    gap: 33px;
  }

  /* contacts */
  .contacts__title {
    margin-bottom: 11px;
  }

  .contacts__center {
    width: 100%;
  }

  .contacts__form {
    gap: 13px;
    width: 100%;
  }

  .form__input {
    padding: 13px 26px;
  }

  .form__btn {
    padding: 11px 28px;
  }

  .contacts__right {
    padding-bottom: 38px;
  }

  /* footer */
  .footer {
    padding: 40px 0;
  }
}

@media (max-width: 753px) {

  /* glob */
  .container {
    padding: 0 15px;
  }

  /* header */
  .header {
    padding: 16px 0 12px 0;
  }

  .header__container {
    padding-right: 0;
  }

  .header__nav {
    overflow: scroll visible;
  }

  .header__list {
    gap: 25px;
  }

  .header__search {
    margin-right: 15px;
  }

  /* main */
  .main__title {
    font-size: 52px;
    line-height: 50px;
  }

  .main__descr {
    font-size: 16px;
  }

  /* contacts */
  .contacts__form {
    flex-direction: column;
    align-items: flex-start;
  }

  .contacts__hiden {
    display: none;
  }
}

@media (max-width: 576px) {
  /* glob */
  .title {
    font-size: 28px;
    font-weight: 400;
    line-height: normal;
  }

  .descr {
    font-size: 16px;
    line-height: 32px;
  }

  /* header */
  .header__logo {
    margin-bottom: 9px;
    width: 97px;
  }

  .header__search {
    padding-top: 0;
  }

  .header__search svg {
    width: 18px;
    height: 18px;
  }

  .header__nav {
    font-size: 12px;
    font-weight: 700;
    line-height: normal;
  }

  /* main */
  .main {
    margin-bottom: 10px;
  }

  .main__section {
    margin-bottom: 50px;
    padding-top: 48px;
    padding-bottom: 52px;
    background-image: url("../img/main-background-320.webp");
  }

  .main__container {
    align-items: center;
  }

  .main__content {
    margin-bottom: 38px;
    max-width: 249px;
    text-align: center;
  }

  .main__title {
    margin-bottom: 10px;
    font-size: 32px;
    line-height: 28px;
  }

  .main__descr {
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
  }

  .main__link {
    padding: 10px 20px;
    font-size: 12px;
  }

  /* about */
  .about {
    margin-bottom: 40px;
  }

  .about__descr {
    font-size: 14px;
    line-height: 28px;
  }

  .about__title {
    margin-bottom: 12px;
  }

  /* gallery */
  .gallery {
    margin-bottom: 49px;
    padding-top: 50px;
    padding-bottom: 46px;
    background-image: url("../img/gallery-background-320.webp");
  }

  .gallery__title {
    margin-bottom: 20px;
  }

  .gallery__wrapper {
    gap: 25px;
  }

  .gallery__right {
    flex-direction: column;
    gap: 27px;
  }

  .gallery__item {
    width: 100%;
  }

  /* catalog */
  .catalog {
    margin-bottom: 47px;
  }

  .catalog__title {
    margin-bottom: 14px;
  }

  .catalog__descr {
    margin-bottom: 29px;
  }

  .catalog__list {
    gap: 27px;
  }

  .catalog__picture {
    margin-bottom: 18px;
  }

  .catalog__name_space {
    word-spacing: 2px;
  }

  .catalog__time {
    margin-bottom: 16px;
  }

  /* events */
  .events {
    margin-bottom: 51px;
  }

  .events__list {
    gap: 19px;
  }

  .events__item {
    min-height: 683px;
  }

  .events__content {
    padding: 16px 16px 54px 21px;
  }

  .events__time {
    margin-bottom: 6px;
  }

  .events__subtitle {
    margin-bottom: 5px;
  }

  .events__link {
    text-indent: 7px;
  }

  .events__link::after {
    left: 8px;
    width: 91%;
  }

  /* projects */
  .projects {
    margin-bottom: 46px;
    padding-bottom: 0;
    border-bottom: none;
  }

  .projects__descr {
    margin-bottom: 51px;
  }

  .projects__subtitle {
    margin-bottom: 11px;
    font-size: 18px;
  }

  .projects__list {
    flex-direction: column;
    gap: 8px;
  }

  .projects__img {
    width: 100%;
  }

  /* contacts */
  .contacts__container {
    gap: 23px;
  }

  .contacts__subtitle {
    font-size: 18px;
    line-height: normal;
  }

  .contacts__title {
    margin-bottom: 5px;
    font-size: 18px;
    line-height: normal;
  }

  .contacts__center {
    width: 100%;
  }

  .contacts__form {
    flex-direction: column;
    gap: 18px;
    width: 100%;
  }

  .form__input {
    padding: 5px 24px;
    height: 40px;
  }

  .form__btn {
    padding: 10px 33px;
    font-size: 12px;
  }

  .contacts__subtitle {
    margin-bottom: 11px;
    letter-spacing: -.5px;
  }

  .contacts__messengers {
    gap: 20px;
  }

  .contacts__link svg {
    width: 50px;
    height: 50px;
  }

  /* footer */
  .footer {
    padding: 20px 0 16px 0;
  }

  .footer__container {
    flex-direction: column;
    align-items: center;
    gap: 6px
  }

  .footer__logo {
    order: 1;
    margin-right: 0;
    width: 97px;
  }

  .footer__link svg {
    width: 50px;
    height: 50px;
  }
}
